@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
body {
  background-color: #eaebf0;
  font-family: "Roboto Slab", sans-serif;
  color: #474e66;
}

.header {
  background: #9da2bb;
}

main {
  display: flex;
  flex-direction: row;
  /* border: 1px solid #474e66; */
  height: 100%;
}

.main-block {
  background: #d7dae7;
  height: 70vh;
  width: 40rem;
  border: 1px solid #474e66;
}

.is-active {
  font-weight: bold;
}

.button {
  background: #474e66;
  color: #d7dae7;
  width: 100%;
}
.button,
.btn-color:hover {
  background: #9da2bb !important;
}
.btn-color {
  background: #474e66 !important;
  color: #d7dae7 !important;
}
.border-line {
  border: 1px solid #474e66;
}
