@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');


body {
  background-color: #eaebf0;
  font-family: 'Roboto Slab', sans-serif;
  color: #474e66;
}


.header{
  background: #9da2bb;
}

main {
  display: flex;
  flex-direction: row;
  /* border: 1px solid #474e66; */
  height: 100%;
}

.main-block {
 background: #d7dae7;
 height: 30rem;
 width: 40rem;
}
.aside-list {
 background: #d7dae7;
 height: 30rem;
 width: 20rem;
}